<a href="https://colab.research.google.com/github/chacha86/BigData2/blob/colab/%EC%8A%A4%ED%81%AC%EB%9E%A9%ED%95%9C_%EB%8D%B0%EC%9D%B4%ED%84%B0_%EB%B6%88%EB%9F%AC%EC%99%80%EC%84%9C_%EB%B6%84%EC%84%9D%ED%95%B4%EB%B3%B4%EA%B8%B0_%EB%AC%B8%EC%A0%9C%ED%92%80%EC%9D%B4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [138]:
import pandas as pd

# 1. json 파일을 이용해서 데이터프레임 만들기
file_path1 = '/content/KBS.json'
kbs = pd.read_json(file_path1, orient='records', encoding='utf-8-sig')

file_path2 = '/content/MBC.json'
mbc = pd.read_json(file_path2, orient='records', encoding='utf-8-sig')

file_path3 = '/content/SBS.json'
sbs = pd.read_json(file_path3, orient='records', encoding='utf-8-sig')

In [139]:
file_path4 = '/content/KBS_comment.json'
kbs_comm = pd.read_json(file_path4, orient='records', encoding='utf-8-sig')

file_path5 = '/content/MBC_comment.json'
mbc_comm = pd.read_json(file_path5,  orient='records', encoding='utf-8-sig')

file_path6 = '/content/SBS_comment.json'
sbs_comm = pd.read_json(file_path6, orient='records', encoding='utf-8-sig')

In [ ]:
# concat
data1 = {
    '이름' : ['이순신', '홍길동', '황진이'],
    '수학' : [80, 90, 100],
    '영어' : [90, 80, 100],
    '국어' : [70, 100, 80]
}

data2 = {
    '이름' : ['이순신', '홍길동', '황진이'],
    '과학' : [80, 90, 100],
    '사회' : [90, 80, 100],
    '제2외국어' : [70, 100, 80]
}

data3 = {
    '이름' : ['이순신', '홍길동', '황진이', '유관순'],    
    '과학' : [80, 90, 100, 88],
    '사회' : [90, 80, 100, 92],
    '제2외국어' : [70, 100, 80, 76]
}

df1 = pd.DataFrame(data1)
df2 = pd.DataFrame(data2)

print(df1)
print(df2)

pd.concat((df1, df2), axis=1)

    이름   수학   영어   국어
0  이순신   80   90   70
1  홍길동   90   80  100
2  황진이  100  100   80
    이름   과학   사회  제2외국어
0  이순신   80   90     70
1  홍길동   90   80    100
2  황진이  100  100     80

    이름   수학   영어   국어   이름   과학   사회  제2외국어
0  이순신   80   90   70  이순신   80   90     70
1  홍길동   90   80  100  홍길동   90   80    100
2  황진이  100  100   80  황진이  100  100     80

In [140]:
# 2. 같은 구조의 데이터 프레임 합치기 (concat)
all_news = pd.concat((kbs, mbc), ignore_index=True)
all_news = pd.concat((all_news, sbs), ignore_index=True)

all_comm = pd.concat((kbs_comm, mbc_comm), ignore_index=True)
all_comm = pd.concat((all_comm, sbs_comm), ignore_index=True)

In [ ]:
all_news.head(5)

# 3. 다른 구조의 데이터 프레임 합치기 (merge)


# 4. 다양한 분석 시도.

,jid,nid,title,link
0,56,11290533,"권성동 “국정원 1급 대기발령, 민주당의 잘못된 안보관 절연 위한 결단”",https://n.news.naver.com/article/056/001129053...
1,56,11290483,[여심야심] “나오지마” 면전 경고에도…이재명 ‘당권 도전’ 속내는?,https://n.news.naver.com/article/056/001129048...
2,56,11290532,대통령실 “노동시장 개혁은 대통령 지시사항”…엇박자 논란 재차 해명,https://n.news.naver.com/article/056/001129053...
3,56,11290514,‘연 평균 676만 원’ 대학 등록금…14년 만에 인상?,https://n.news.naver.com/article/056/001129051...
4,56,11290518,이재명 “대책 없다고 손 놓으면 불안심리 더 악화…급한 불끄기 나서야”,https://n.news.naver.com/article/056/001129051...

In [ ]:
all_comm.head(5)

# 3. 다른 구조의 데이터 프레임 합치기 (merge)

# 4. 다양한 분석 시도.

         번호    댓글수   남자   여자 10대 20대  30대  40대  50대 60대↑
0  11290533  1,467  85%  15%  0%  1%   8%  30%  39%  22%
1  11290483  1,107  58%  42%  0%  5%  14%  30%  31%  20%
2  11290532    498  83%  17%  0%  1%  11%  38%  35%  14%
3  11290514    467  70%  30%  0%  7%  13%  43%  30%   6%
4  11290518    308  73%  27%  0%  3%  12%  41%  28%  15%

In [ ]:
data1 = {
    'col1' : [1,2,3,4],
    'col2' : ['a','b','c','d'],
    'col3' : ['e','f','g','h']
}

data2 = {
    'col4' : [1,3,5,7],
    'col5' : ['i','j','k','l'],
    'col6' : ['m','n','o','p']
}

tdf1 = pd.DataFrame(data1)
tdf1

tdf2 = pd.DataFrame(data2)
tdf2

print(tdf1)
print(tdf2)

# how, on
# 
pd.merge(tdf1, tdf2, how='inner', left_on='col1', right_on='col4')
#pd.merge(tdf1, tdf2, how='outer', left_on='col1', right_on='col4')
#pd.merge(tdf1, tdf2, how='left', left_on='col1', right_on='col4')
#pd.merge(tdf1, tdf2, how='right', left_on='col1', right_on='col4')

   col1 col2 col3
0     1    a    e
1     2    b    f
2     3    c    g
3     4    d    h
   col4 col5 col6
0     1    i    m
1     3    j    n
2     5    k    o
3     7    l    p

   col1 col2 col3  col4 col5 col6
0   1.0    a    e     1    i    m
1   3.0    c    g     3    j    n
2   NaN  NaN  NaN     5    k    o
3   NaN  NaN  NaN     7    l    p

In [141]:
# 3. 다른 구조의 데이터 프레임 합치기 (merge)
all_news
all_comm

rst = pd.merge(all_news, all_comm, how='left', left_on='nid', right_on='번호')

rst2 = rst[['nid','link', '댓글수', '남자', '여자']]
rst2

,nid,link,댓글수,남자,여자
0,11290533,https://n.news.naver.com/article/056/001129053...,"1,467",85%,15%
1,11290483,https://n.news.naver.com/article/056/001129048...,"1,107",58%,42%
2,11290532,https://n.news.naver.com/article/056/001129053...,498,83%,17%
3,11290514,https://n.news.naver.com/article/056/001129051...,467,70%,30%
4,11290518,https://n.news.naver.com/article/056/001129051...,308,73%,27%
5,1204928,https://n.news.naver.com/article/214/000120492...,"2,220",77%,23%
6,1204953,https://n.news.naver.com/article/214/000120495...,"1,002",69%,31%
7,1204875,https://n.news.naver.com/article/214/000120487...,"1,312",78%,22%
8,1204980,https://n.news.naver.com/article/214/000120498...,703,80%,20%
9,1204973,https://n.news.naver.com/article/214/000120497...,468,82%,18%
10,981809,https://n.news.naver.com/article/055/000098180...,"1,546",72%,28%
11,981858,https://n.news.naver.com/article/055/000098185...,"1,520",85%,15%
12,981839,https://n.news.naver.com/article/055/000098183...,388,73%,27%
13,981732,https://n.news.naver.com/article/055/000098173...,NaN,NaN,NaN
14,981856,https://n.news.naver.com/article/055/000098185...,629,76%,24%

In [142]:
# 4. 다양한 분석 시도.

# 1. 20대가 가장 많이 본(댓글을 많이 작성한) 뉴스 (언론사, 뉴스 번호, 타이틀, 링크)
rst2 = rst.sort_values('20대').head(1) 
rst2[['jid', 'nid', 'title', 'link']]

,jid,nid,title,link
0,56,11290533,"권성동 “국정원 1급 대기발령, 민주당의 잘못된 안보관 절연 위한 결단”",https://n.news.naver.com/article/056/001129053...

In [143]:
# 2. 가장 댓글이 적은 뉴스의 댓글 수와 뉴스 링크, 뉴스 번호
rst['댓글수(int)'] = rst['댓글수']

# 0 - False, 1 - True
# 결측치 개수 구하기
# isna() 특정 컬럼 또는 데이터프레임의 결측치를 찾아줌
rst['댓글수(int)'].isna().sum()

# fillna() - 결측치를 특정 값으로 채움

rst2 = rst['댓글수(int)'].str.replace(',', '')

rst2 = rst2.fillna(0)
rst2

rst2 = rst2.astype('int64')

rst2
rst['댓글수(int)'] = rst2
rst

rst.sort_values('댓글수(int)')[['nid', 'link', '댓글수(int)']].head(1)

# rst2 = rst.fillna(0)
# rst2
#rst['댓글수(int)'].astype('int64')


#rst['댓글수(int)'].astype('int64')
#rst.sort_values('댓글수')

       nid                                               link  댓글수(int)
13  981732  https://n.news.naver.com/article/055/000098173...         0

In [144]:
# 3. 언론사 번호와 언론사 이름으로 구성된 데이터 프레임을 만들고 merge를 이용해 각 뉴스에 언론사 이름을 붙여주기

jids = rst['jid'].unique()
names = [ 'KBS', 'MBC', 'SBS' ]
data1 = {
    
    'jid' : jids, 
    'name' : names
}

jnames = pd.DataFrame(data1)

rst2 = pd.merge(jnames, rst, how='right', on='jid')
rst2

,jid,name,nid,title,link,번호,댓글수,남자,여자,10대,20대,30대,40대,50대,60대↑,댓글수(int)
0,56,KBS,11290533,"권성동 “국정원 1급 대기발령, 민주당의 잘못된 안보관 절연 위한 결단”",https://n.news.naver.com/article/056/001129053...,11290533.0,"1,467",85%,15%,0%,1%,8%,30%,39%,22%,1467
1,56,KBS,11290483,[여심야심] “나오지마” 면전 경고에도…이재명 ‘당권 도전’ 속내는?,https://n.news.naver.com/article/056/001129048...,11290483.0,"1,107",58%,42%,0%,5%,14%,30%,31%,20%,1107
2,56,KBS,11290532,대통령실 “노동시장 개혁은 대통령 지시사항”…엇박자 논란 재차 해명,https://n.news.naver.com/article/056/001129053...,11290532.0,498,83%,17%,0%,1%,11%,38%,35%,14%,498
3,56,KBS,11290514,‘연 평균 676만 원’ 대학 등록금…14년 만에 인상?,https://n.news.naver.com/article/056/001129051...,11290514.0,467,70%,30%,0%,7%,13%,43%,30%,6%,467
4,56,KBS,11290518,이재명 “대책 없다고 손 놓으면 불안심리 더 악화…급한 불끄기 나서야”,https://n.news.naver.com/article/056/001129051...,11290518.0,308,73%,27%,0%,3%,12%,41%,28%,15%,308
5,214,MBC,1204928,"장관이 발표했는데‥""공식 입장 아냐""",https://n.news.naver.com/article/214/000120492...,1204928.0,"2,220",77%,23%,0%,2%,12%,40%,33%,13%,2220
6,214,MBC,1204953,"이재명 ""경제정책은 타이밍‥정부, 유류세·공매도 한시 중단해야""",https://n.news.naver.com/article/214/000120495...,1204953.0,"1,002",69%,31%,0%,3%,12%,37%,34%,13%,1002
7,214,MBC,1204875,"노동부장관 부총리가 발표했는데, 대통령은 ""공식 입장 아니다""",https://n.news.naver.com/article/214/000120487...,1204875.0,"1,312",78%,22%,0%,2%,9%,38%,37%,14%,1312
8,214,MBC,1204980,"""노동시장 개혁은 명확한 대통령 지시사항""",https://n.news.naver.com/article/214/000120498...,1204980.0,703,80%,20%,0%,1%,11%,40%,34%,14%,703
9,214,MBC,1204973,"대통령실 ""노동시장 개혁 과제는 명확한 대통령 지시사항""",https://n.news.naver.com/article/214/000120497...,1204973.0,468,82%,18%,0%,1%,12%,43%,33%,11%,468
10,55,SBS,981809,"이재명 ""정부, 한시적 공매도 금지 · 유류세 중단으로 급한 불 꺼야""",https://n.news.naver.com/article/055/000098180...,981809.0,"1,546",72%,28%,0%,4%,16%,36%,29%,14%,1546
11,55,SBS,981858,"[단독] 고속도로 '칼치기' 운전자, 냅다 차 안으로 비비탄 쏴댔다",https://n.news.naver.com/article/055/000098185...,981858.0,"1,520",85%,15%,0%,2%,18%,47%,23%,9%,1520
12,55,SBS,981839,"[단독] 서울대 연구팀, 세계 최고 AI 학회에 '표절 논문' 제출",https://n.news.naver.com/article/055/000098183...,981839.0,388,73%,27%,0%,6%,14%,35%,31%,13%,388
13,55,SBS,981732,차로 여성 치고 납치 시도…대포폰 쓰며 도피하다 검거,https://n.news.naver.com/article/055/000098173...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
14,55,SBS,981856,"[단독] 서울대 연구팀, 세계 최고 학회에 '표절 논문'…지도교수는 몰랐나",https://n.news.naver.com/article/055/000098185...,981856.0,629,76%,24%,0%,3%,13%,36%,33%,15%,629

In [145]:
# 4. 각 언론사별 평균 댓글 수(댓글 수로 내림차순 정렬)
rst3 = rst2.groupby(['name']).mean()[['댓글수(int)']]

rst3 = rst3.rename(columns={'댓글수(int)' : '평균댓글수'})
rst3 = rst3.sort_values('평균댓글수', ascending=False)
rst3

       평균댓글수
name
MBC   1141.0
SBS    816.6
KBS    769.4

In [146]:

# 5. 여성의 댓글수가 가장 많은 언론사

rst4 = rst['여자'].str.replace('%', '')

rst4 = rst4.fillna(0)

rst4 = rst4.astype('int64')

rst2['여자(int)'] = rst4

rst4 = rst2.groupby('name').mean('여자(int)').sort_values('여자(int)', ascending=False).head(1)
rst4

       jid         nid          번호  댓글수(int)  여자(int)
name
KBS   56.0  11290516.0  11290516.0     769.4     26.2

In [181]:
# 6. 각 언론사 별 댓글을 많이 작성한 연령대 top3

rst5 = rst2.loc[:, '10대' : '60대↑']

def remove_percent(row) :
  for i, val in enumerate(row) :
    if str(type(val)) == "<class 'str'>" :
      row[i] = val.replace('%', '')
  row = row.fillna(0).astype('int64')
  return row

rst6 = rst5.apply(remove_percent, axis=1)
rst2.loc[:, '10대' : '60대↑'] = rst6

rst7 = rst2.groupby('name').sum().loc[:, '10대': '60대↑']

def get_top_three(row) :
  row = row.sort_values(ascending=False)
  row = row[:3].index
  row = pd.Series(row, index=['1위', '2위', '3위'])
  return row

rst8 = rst7.apply(get_top_three, axis=1)
rst8 

# 또는

rst8.reset_index().rename(columns={'name' : 'rank'}).set_index('rank').T

rank   KBS   MBC  SBS
1위     40대   40대  40대
2위     50대   50대  50대
3위    60대↑  60대↑  30대